*{
    font: 1em sans-serif;
    font-weight: 100;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    background: #86f;
    padding: 20px 5px;
}

.caja{
    background: yellow;
    height: 100px;
    width: 100px;
    border-radius: 3px;
    margin: 20px;
    display: flex;
    transition: transform 1s;
    /*transform: translate(); Se mueve dependiendo del eje */
    /*transform: scale(); modifica la escala */
    /* https://bennettfeely.com/clippy/ */
    /* https://www.w3schools.com/cssref/css3_pr_transform.asp */
}
b{
    margin: auto;
}