*{
    font: 1em sans-serif;
    font-weight: 100;
}
/* Para crear variables */
/* Tambien se puede colocar dentro de contenedor pero no
se puede colocar afuera del contenedor lo mejor es hacer la
variable global */
:root{
    --color-rojo: #f20;
}

body{
    margin: 0;
    padding: 0;
}

div{
    padding: 30px;
    width: 150px;
    height: 150px;
    margin: 30px;
}

.container{
    background: var(--color-rojo);
}

.container2{
    background: lightgreen;
}

