*{
    font: 1em sans-serif;
    font-weight: 100;
    
}

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container{
    padding: 20px;
    font-size: 2rem;
    background: red;
    /*direction: rtl;  Direccion */
    /*letter-spacing: 5px; Espacio en las que separan las letras*/

}

p{
    font-size: 2rem;
}

#container{
    background: #59f;
    user-select: none; /* No deja seleccionar al usuario */
    text-shadow: 10%;
}